body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

.project {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project img {
    max-width: 100%; /* Resmin genişliğini %100'e ayarlayın */
    height: auto; /* Yükseklik otomatik olarak ayarlanacak */
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

